.select {
    position: absolute;
    left: 147px;
    bottom: 31px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 32px;
    padding: 0 15px;
    box-sizing: border-box;
    border-radius: 16px;
    cursor: pointer;
    background: rgba(1, 21, 55, 0.6);
}
.select img {
    width: 16px;
    height: 16px;
}
.time {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}
