.verificationElements {
    margin-top: 10px;
}
.elementsHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 21px;
}
.elementsHeaderTitle {
    font-family: YouSheBiaoTiHei;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: rgba(0, 0, 0, 0.6);
    margin-right: 8px;
}
.splitLine {
    flex: 1;
    position: relative;
    top: 3px;
    width: 100%;
    height: 1px;
    background: #d8d8d8;
}
.elementsBtn {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* padding-left: 17px; */
    padding: 10px 5px 10px 17px;
    user-select: none;
}
.elementsItem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 120px;
    padding: 0 14px;
    height: 36px;
    margin: 5px;
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    /* margin-top: 10px;
    margin-right: 10px; */
    border-radius: 18px;
    cursor: pointer;
    /* background: #0096ff; */
    background: rgba(0, 0, 0, 0.08);
}
.elementsItemActive {
    color: #ffffff;
    background: #0096ff;
}
.pl5 {
    padding-left: 25px;
}
.timeintervalItem {
    min-width: 80px;
}
