.echartTop {
    display: flex;
    width: 100%;
    height: 60px;
    padding: 12px 20px;
    background: rgba(0, 0, 0, 0.04);
}
.echarts {
    width: 100%;
    height: 521px;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
}
.buttonGap {
    margin-right: 7px;
}
.switch {
    position: relative;
    margin-left: auto;
}
.lineInner {
    position: absolute;
    top: 15px;
    left: 19px;
}
.buttonText {
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    margin-left: 5px;
    color: #ffffff;
}
