.container {
    position: absolute;
    top: 77px;
    left: 50%;
    transform: translateX(-50%);
}
.container input {
    border: none;
    outline: none;
    width: 218px;
    height: 32px;
    padding: 0 30px 0 40px;
    box-sizing: border-box;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}
.logo {
    position: absolute;
    top: -4px;
    left: -9px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: #414141;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}
.logo img {
    width: 32px;
    height: 32px;
}
.icon {
    position: absolute;
    top: 9px;
    right: 7px;
    width: 16px;
    height: 16px;
}

.optionContainer {
    margin: 9px 0;
    padding: 10px 0;
    max-height: 150px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    overflow-x: hidden;
    overflow-y: auto;
}
.optionContainer li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 30px;
    padding-left: 21px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    background: #ffffff;
    list-style: none;
    cursor: pointer;
}
.optionContainer li:hover {
    color: #ffffff;
    background: #4daef2;
}
.optionContainer .active {
    color: #ffffff;
    background: #4daef2;
}
