.searchForm {
    padding: 0px 30px 10px;
}
.searchIcon {
    width: 16px;
    height: 16px;
    margin-right: 6px;
}
.pagination {
    margin: 16px 10px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
    justify-content: flex-end;
}
.row {
    height: 65px;
    font-size: 18px;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.8);
}
.button {
    background-color: #4daef2;
}
