.map-setting {
    position: absolute;
    top: 185px;
    right: 40px;
}
.map-setting-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 32px;
    margin-bottom: 10px;
    border-radius: 16px;
    cursor: pointer;
    background: rgba(1, 21, 55, 0.6);
}
.map-setting-item img {
    width: 26px;
    height: 26px;
}
.map-setting-item .icon-scale-small {
    width: 26px;
    height: 11px;
}
