.modalHeader {
    width: 100%;
    height: 56px;
    padding: 10px 20px;
    line-height: 36px;
    background: #1c7bbe;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}
.close {
    top: 10px;
    right: 20px;
    background: rgba(0, 0, 0, 0.3);
}
