.ant-pagination {
    color: #ffffff;
}
.ant-pagination .ant-pagination-item {
    width: 24px;
    min-width: 24px;
    height: 24px;
    margin-right: 0;
}
.ant-pagination .ant-pagination-item a {
    width: 24px;
    min-width: 24px;
    height: 24px;
    color: #ffffff;
    line-height: 24px;
    margin-right: 0;
    padding: 0;
}
.ant-pagination .ant-pagination-item-active a {
    width: 24px;
    min-width: 24px;
    height: 24px;
    color: #000000;
    line-height: 24px;
    margin-right: 0;
    padding: 0;
}
.ant-pagination .ant-pagination-options {
    margin-left: 0;
}
/* .ant-pagination .ant-pagination-options-quick-jumper input {
    margin: 0;
} */
