.rainContainer {
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 30px;
    border-radius: 18px;
    margin: 5px 5px 5px 0;
    font-size: 16px;
    font-weight: 500;
    color: #3d3d3d;
    background: rgba(0, 0, 0, 0.08);
}
.active {
    color: #ffffff;
    background: #4daef2;
}
