.axis {
    position: absolute;
    left: 480px;
    bottom: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    background: rgba(1, 21, 55, 0.6);
    margin-right: 10px;
}
.btn img {
    width: 17.25px;
    height: 19px;
    user-select: none;
}
.active {
    background: linear-gradient(90deg, #33e9e8 0%, #6089f9 100%);
}
.btn .play-pause {
    position: relative;
    left: 2px;
    width: 13px;
    height: 19px;
}
.lineContainer {
    position: relative;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line {
    width: 630px;
    height: 6px;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.6);
}
.blueline {
    position: absolute;
    top: 17px;
    left: 0;
    width: 343px;
    height: 6px;
    border-radius: 4px;
    background: #0096ff;
}
.tickContainer {
    position: absolute;
    top: 17px;
    left: 0;
    width: 100%;
    height: 6px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.big {
    position: relative;
    top: 2px;
    width: 4px;
    height: 11px;
    background: #ffffff;
}
.small {
    position: relative;
    width: 1px;
    height: 11px;
    background: #ffffff;
}
.time {
    position: absolute;
    top: 14px;
    left: 2px;
    transform: translateX(-50%);
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 1);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}
.day {
    position: absolute;
    top: 30px;
    left: 4px;
    width: 50px;
    transform: translateX(-50%);
    font-size: 16px;
    font-weight: bold;
    color: #d39422;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 1);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}
