body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif, AlibabaPuHuiTi;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}

.App {
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.custom-checkbox-group {
    /* padding: 5px 0; */
}
.custom-checkbox-group .ant-checkbox-inner {
    width: 22px;
    height: 22px;
}
.custom-checkbox-group .ant-checkbox-inner::after {
    width: 7px;
    height: 13px;
}
.custom-checkbox-group span {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    vertical-align: bottom;
    color: #3d3d3d;
}
/* drawer-content */
.drawer-container .ant-drawer-content-wrapper {
    top: 58px;
}

.ant-table-wrapper .ant-table-container table > thead > tr:first-child > *:first-child {
    border-radius: 0px;
}
.ant-table-wrapper .ant-table-container table > thead > tr:first-child > *:last-child {
    border-radius: 0px;
}
/* 修改表头单元格的边框样式 */
.ant-table-wrapper .ant-table-thead > tr > th {
    /* border: 1px solid black; */
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    border: none;
    background: #1c7bbe;
}
.ant-table-thead th::before {
    width: 0 !important;
}

.ant-modal .ant-modal-header {
    margin: 0;
}
.ant-modal .ant-modal-content {
    padding: 0;
}

.ant-checkbox-group-item {
    padding: 4px 0 !important;
}

.ant-popover .ant-popover-inner {
    padding: 0;
}

.ant-tag {
    padding: 7px 15px;
    color: #4daef2;
    background: #eef5ff;
    border-radius: 8px;
}
.ant-radio-wrapper .ant-radio-inner {
    width: 22px;
    height: 22px;
    background: transparent;
    border: 2px solid rgba(155, 189, 217, 0.6);
}
.ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
    background: #4daef2;
    border-color: #4daef2;
}
.ant-radio-wrapper .ant-radio-checked .ant-radio-inner::after {
    transform: scale(0.8);
}

.stationRadio {
    padding-top: 20px;
}
.stationRadio .ant-radio-wrapper {
    width: 31%;
    padding: 4px 0;
    color: #ffffff;
}
.areaForm .ant-picker {
    border-radius: 16px;
}
.areaForm .ant-form-item .ant-form-item-label > label {
    font-size: 16px;
    font-weight: bold;
    color: #4daef2;
}
